apiVersion: v1
kind: Secret
metadata:
  name: microservice-kit-secret
type: Opaque
stringData:
  database-dsn: "host=postgres-service user=postgres password=replace-me dbname=microservice_kit port=5432 sslmode=require TimeZone=Asia/Shanghai"
  redis-password: ""
  jwt-secret: "replace-with-at-least-32-random-characters"
  storage-access-key: "replace-me"
  storage-secret-key: "replace-me"
