MS_K_APP_ENV=dev
MS_K_DATABASE_DSN=host=127.0.0.1 user=postgres password=post123 dbname=microservice_kit port=5432 sslmode=disable TimeZone=Asia/Shanghai
MS_K_REDIS_ADDR=127.0.0.1:6379
MS_K_REDIS_PASSWORD=123456
MS_K_JWT_SECRET=replace-with-at-least-32-random-characters
MS_K_USERMGR_PASSWORD=replace-with-a-strong-bootstrap-password
MS_K_POSTGRES_PASSWORD=post123
MS_K_RUSTFS_ACCESS_KEY=rustfsadmin
MS_K_RUSTFS_SECRET_KEY=rustfsadmin
MS_K_RUSTFS_BUCKET=microservice-kit
